@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    color: #000;
}

/* Анимация */
:root {
    --letter-spacing-animation: 1em;
}

@keyframes focus-in-contract {
    0% {
        letter-spacing: var(--letter-spacing-animation);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        letter-spacing: 0;
        filter: blur(0);
        opacity: 1;
    }
}

.name {
    font-size: clamp(60px, 10vw, 100px);
    font-weight: 500;
    font-style: italic;
    text-align: center;
    animation-name: focus-in-contract;
    animation-duration: 2.2s;
    animation-timing-function: linear;
    color: rgb(254, 234, 13);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.block {
    padding: 50px 20px;
    position: relative;
    text-align: center;
}

#promo {
    background: url('background-video.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
}

#bgVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 2;
}

.promo-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 2s;
}

    .promo-content.fade-in {
        opacity: 1;
    }

.product-image {
    width: 200px;
    margin-right: 10%;
}

.product-characteristics {
    list-style-type: none;
    padding: 0;
    margin-left: 10%;
    text-align: left;
    font-size: 2.2em;
}

    .product-characteristics li {
        margin: 10px 0;
    }

.card {
    width: 300px;
    height: 200px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 8px;
    color: white;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
    margin: 20px auto;
}

.card-content {
    padding: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

    .card-content .card-title {
        font-size: 24px;
        font-weight: 700;
        color: inherit;
        text-transform: uppercase;
    }

    .card-content .card-para {
        color: inherit;
        opacity: 0.8;
        font-size: 14px;
    }

.card:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

.card:hover:before {
    transform: translateX(-100%);
}

.card:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

.card:hover:after {
    transform: translateX(100%);
}

.cards__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-left: 10%;
}

.cards__card {
    --flow-space: 0.5em;
    --hsl: var(--hue), var(--saturation), var(--lightness);
    flex: 1 1 14rem;
    padding: 1.5em 2em;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    align-items: start;
    gap: 1.25em;
    color: #eceff1;
    background-color: #2b2b2b;
    border: 1px solid #eceff133;
    border-radius: 15px;
    margin-right: 2%;
}

.card__bullets {
    line-height: 1.4;
}

.flow > * + * {
    margin-top: var(--flow-space, 1.25em);
}

#composition, #reviews, #promo2, #order {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
}

.ingredients-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10%;
    margin-top: 7%;
    margin-bottom: 5%;
}

.ingredients-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .ingredients-column .ingredient {
        margin: 20px 0;
    }

        .ingredients-column .ingredient img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
        }

.ingredient-text {
    font-size: 1.4em;
    color: rgb(254, 234, 13);
}

.product-image-center {
    width: 200px;
}

/* Отзывы */
.reviews .reviews-slider {
    overflow: hidden;
}

.reviews .review-item {
    box-sizing: content-box;
    min-height: 320px;
}

    .reviews .review-item .review-img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin: -35px auto 10px auto;
        position: relative;
        z-index: 2;
        border: 6px solid rgba(255, 255, 255, 0.12);
    }

.review-img {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.reviews .review-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0 5px 0;
    color: #fff;
    text-align: center;
}

.reviews .review-item .quote-icon-left,
.reviews .review-item .quote-icon-right {
    color: rgba(255, 255, 255, 0.25);
    font-size: 2em;
}

.reviews .review-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.reviews .review-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
}

.reviews .review-item p {
    font-style: italic;
    margin: 0 15px 0 15px;
    padding: 20px 20px 60px 20px;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
}

.reviews .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

    .reviews .swiper-pagination .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .reviews .swiper-pagination .swiper-pagination-bullet-active {
        background-color: #18d26e;
    }

.review-text {
    font-size: 1.5em;
    color: #fff;
}

.review-name {
    color: rgb(254, 234, 13);
}

#promo2 .promo2-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}

.promo2-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .promo2-image img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

.promo2-description {
    flex: 2;
    padding-left: 20px;
    text-align: left;
    font-size: 1.2em;
    color: #fff;
}

.promo2-characteristics {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 10px;
}

    .promo2-characteristics li {
        margin: 10px 0;
        font-size: 1.4em;
    }

/* Поддержка существующих стилей карточек */
.card {
    width: 300px;
    height: 200px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 8px;
    color: white;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
    margin: 20px auto;
}

.card-content {
    padding: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

    .card-content .card-title {
        font-size: 24px;
        font-weight: 700;
        color: inherit;
        text-transform: uppercase;
    }

    .card-content .card-para {
        color: inherit;
        opacity: 0.8;
        font-size: 14px;
    }

.card:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

.card:hover:before {
    transform: translateX(-100%);
}

.card:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
}

.card:hover:after {
    transform: translateX(100%);
}

#promo-2-card {
    margin: 0;
    margin-top: 5%;
}

.prices {
    margin: 20px 0;
}

.old-price {
    text-decoration: line-through;
    color: red;
    font-size: 2.5em;
    margin-right: 10px;
}

.new-price {
    color: green;
    font-size: 4em;
}

.order-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.product-section {
    flex: 1;
    text-align: left;
    margin-left: 20%;
}

    .product-section img {
        width: 100%;
        max-width: 300px;
    }

.form-section {
    flex: 1;
    text-align: left;
}

#timer {
    font-size: 3em;
    margin-bottom: 20px;
    text-align: left;
    color: rgb(254, 234, 13)
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    form label {
        margin-top: 10px;
    }

    form input {
        margin-top: 5px;
        padding: 10px;
        width: 100%;
        max-width: 300px;
    }

    form button {
        margin-top: 20px;
        padding: 10px 20px;
        background: #000;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 1em;
    }

        form button:hover {
            background: #444;
        }